#sidebar {
    --tw-translate-x: -100%;
}
#menu-close-icon {
    display: none;
}

#menu-open:checked ~ #sidebar {
    --tw-translate-x: 0;
}
#menu-open:checked ~ * #mobile-menu-button {
    background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
}
#menu-open:checked ~ * #menu-open-icon {
    display: none;
}
#menu-open:checked ~ * #menu-close-icon {
    display: block;
}
.bg-btn{
    background-color: #e4b302;
  }
@media (min-width: 768px) {
    #sidebar {
        --tw-translate-x: 0;
    }
}
@media screen and (max-width: 767px) and (min-width: 200px) {
.sidebar-hide {
        display: none !important;
    }
}
.css-26l3qy-menu {
    position: unset !important;
 
}